<div class="dashboard-sidebar" id="dashboardSidebar">
  <h3 class="dashboard-logo" id="dashboardLogo">FurFoods</h3>
  <div class="dashboard-sidebar-user">
    <img src="images/ellahunt.png" id="userImage" alt="User">
    <span>Ella</span>
  </div>
  <div class="dashboard-sidebar-menus">
    <ul class="dashboard-menulists">
      <li class="menuActive">
        <a href="#dashboard" data-section="dashboard"><i class="fa fa-chart-line" aria-hidden="true"></i> <span class="menuText">Dashboard</span></a>
      </li>
      <li>
        <a href="#inventory" data-section="inventory"><i class="fa fa-box" aria-hidden="true"></i> <span class="menuText">Inventory</span></a>
      </li>
      <li>
        <a href="#sales" data-section="sales"><i class="fa fa-money-bill-1" aria-hidden="true"></i> <span class="menuText menuText-salesReport">
          <span class="menuText-line1">Sales & Payment</span>
          <span class="menuText-line2">Report</span>
        </span></a>
      </li>
      <li>
        <a href="#pricing" data-section="pricing"><i class="fa fa-tag" aria-hidden="true"></i> <span class="menuText">Product Price</span></a>
      </li>
    </ul>
  </div>
</div>
